.k-event, .k-event .k-link, 
.k-more-events, .k-task-complete, 
.k-task-single{
    border-radius:6px !important;
}
.k-state-selected.k-event {
    -webkit-box-shadow:0 0 0 4px #444 inset !important;
    box-shadow:0px 0px 0px 4px #444 inset !important;
}